*{
    margin: 0;
    padding: 0;
    background-color: #2B2D42;
    
}


    
h1 {
    display: flex;
    justify-content: center;
    text-decoration:underline rgb(27, 180, 103);
    min-width: 20vw;
    border-radius: 5px;
    padding: 40px;
}

h2 {
    display: flex;
    justify-content: start;
    background-color: #484C69;
    padding-left: 13px;
}

#style-button{
    padding: 7px;
}

nav {
    display: flex;
    justify-content: center;
    align-self: center; 
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.container-add {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: #2B2D42; */
    color: white;
   padding: 20px;

}


#add-text{
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    width: 12vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    color: #2B2D42;
    padding-left: 8px;
}

#estilizarAdicionarTarefa{
    display: flex;
    flex-direction: row;
    margin-left:3vw;

}

.estilobutton{
    padding-left: 10px;
}

.item{
    display: flex;
    align-items: center; 
    padding: 7px;
    justify-content: space-between;
    flex-direction:row;
    background-color: 	#484C69;
   order: 2;
    margin-top: 20px;
    border-radius: 10px;
    color: #FEFFFB;
    min-height: 28px;
    min-width: 45vw;
    font-size: 14px;
    flex-wrap: wrap;
}

.diVH2{
    /* background-color: #484C69; */
    display: flex;
    align-items: center;
    /* flex-direction: row;     */
}

.material-symbols-outlined  {
    background-color:rgb(255, 0, 0);
    border-radius: 50px;
    margin: 4px;
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
   
}

#button-criar{
    height: 30px;
    border-radius: 5px;
    font-size: 28px;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    width: 40px;
    color: #FFFFFF;
    background-color: rgb(27, 180, 103);
}

#button-excluirlista{
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    width: 12vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    background-color:  rgb(255, 0, 0);
    cursor: pointer;
}

#lista-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.divBtns {
    display: flex;
    flex-direction: row-reverse;
    background-color: #484C69;
    align-items: center;
    justify-content: space-around;  

}

.divBtns input {
display: none;
}

.divCheckBox{
    padding-right: 15px ;
    background-color: #484C69;
}

.divBtns input + label::before {
    content: '';
    border-radius: 3px;
    background-color: #484C69;
    border: 2px solid white;
    padding-right: 15px;
    vertical-align:middle;
    cursor: pointer;
    size: 20px;
}

.divBtns input:checked + label::before {
  
    background-color: rgb(27, 180, 103);
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    position: center;
}

 #checkbox {
     size: 50px;
     background-color:#484C69; 
 } 

#centralizarFinal{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px;
}

#estilizarBusca{
    padding: 20px;
    
}

 #search {
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    width: 12vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    color: #2B2D42;
    padding-left: 8px;
    
 }

 @media (max-width: 440px){

.item{
        width: 80vw;
}

#add-text{
        width: 42vw;
}
#button-criar{       
        width: 10vw;
}
#style-button{
    padding: 14px;
}
#button-excluirlista{
   width: 32vw;
 }

 #search {

    width: 42vw;
}
}