*{
    margin: 0;
    padding: 0;
    background-color: #2B2D42;
}


    
h1 {
    display: flex;
    justify-content: center;
    text-decoration:underline rgb(27, 180, 103);
    min-width: 20vw;
    border-radius: 5px;
    padding: 40px;
}

h2 {
    display: flex;
    justify-content: start;
    background-color: #484C69;
    margin-left: 13px;
    order: 1;
}

#style-button{
    padding: 7px;
}

nav {
    display: flex;
    justify-content: center;
    align-self: center; 
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.container-add {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background-color: #2B2D42;
    color: white;

}


#add-text{
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 16vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    color: #2B2D42;
    padding-left: 8px;
}


.item{
    display: flex;
    align-items: center; 
    padding: 7px;
    justify-content: space-between;
    flex-direction:row;
    background-color: 	#484C69;
   order: 2;
    margin-top: 20px;
    border-radius: 10px;
    color: #FEFFFB;
    min-height: 28px;
    min-width: 45vw;
    font-size: 14px;
    flex-wrap: wrap;
}

.divEsquerda{
    background-color: #484C69;
    display: flex;
    align-items: center;
    flex-direction: row;    
}

.material-symbols-outlined  {
    background-color:rgb(255, 0, 0);
    border-radius: 50px;
    margin: 4px;
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
}

#button-criar{
    min-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 8vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    min-width: 16vw;
    color: #FFFFFF;
    background-color: rgb(27, 180, 103);
}

#button-excluirlista{
    min-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 8vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    background-color:  rgb(255, 0, 0);
    cursor: pointer;
}


#lista-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divCheck {
    display: flex;
    background-color: #484C69;
    align-items: center;
    justify-content: space-around
}

.divCheck input {
display: none;
}

.divCheck input + label::before {
    content: '';
    border-radius: 3px;
    background-color: #484C69;
    border: 2px solid white;
    padding-right: 15px;
    vertical-align:middle;
    cursor: pointer;
    overflow-x: auto;
    size: 20px;
}

.divCheck input:checked + label::before {
  
    background-color: rgb(27, 180, 103);
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    position: center;
}


 #checkbox {
     size: 40px;
     background-color:#484C69; 
 } 

 #procurar-item{
    display:flex;
    align-self: flex-start;
    width: 98vw;
    /* border-radius: 5px; ; */
    padding: 10px;
    background-color: #484C69;
}

 #search {
    height: 20px;
    border-radius: 5px;
    font-size: 13px;
    min-width: 10vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    color: #2B2D42;
    padding-left: 8px;
    
 }

 @media (max-width: 440px){

.item{
        width: 80vw;
}

#add-text{
        width: 56vw;
}
#button-criar{       
        width: 28vw;
}
#style-button{
    padding: 14px;
}
#button-excluirlista{
    
    margin-bottom: 180px;
    bottom: 0;
   position: static;
    width: 28vw;
 }
}