*{
    margin: 0;
    padding: 0;
    background-color: #2B2D42;
}
    
/* #titulo{
    display: flex;
    padding: 10px;
    justify-content: center;
} */

h1 {
    display: flex;
    justify-content: center;
    text-decoration:underline rgb(27, 180, 103);
    min-width: 20vw;
    border-radius: 5px;
    padding-bottom: 30px;
  

}

h2 {
    display: flex;
    justify-content: start;
    background-color: #484C69;
    margin-top: 10px;
    margin-left: 13px;
    order: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-self: center; 
    margin-top: 5vw;
    margin-bottom: 2vw;

}

.container-add {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: #2B2D42;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    padding: 4px;
  
    min-height: 10vw;
    border-radius: 10px;
    color: white;
}

#add-text{
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 16vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    color: #2B2D42;
    padding-left: 8px;
    
}


.item-lista{
    display: flex;
    align-items: center;
    padding: 7px;
    justify-content: space-between;

    flex-direction:row;
    background-color: 	#484C69;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    border-radius: 10px;
    color: #FEFFFB;
    min-height: 28px;
    font-size: 14px;
    flex-wrap: wrap;
}

.divlista{
    background-color: #484C69;
    display: flex;
    justify-content: flex-start;
    
}


.material-symbols-outlined  {
    background-color: white;
    border-radius: 50px;
    margin: 4px;
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    color: rgb(255, 0, 0);
    cursor: pointer;
    
}

#button-criar{
    min-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 8vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    min-width: 16vw;
    color: #FFFFFF;
    background-color: rgb(27, 180, 103);
    

}

#button-excluirlista{
    min-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 8vw;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    background-color:  rgb(255, 0, 0);
    cursor: pointer;

}

#lista-container{
    display: flex;
    flex-direction: column;

}

.customcheck input {
display: none;
height: 18px;
border-radius: 3px;
margin-left: 2px;
vertical-align: middle;
cursor: pointer;
color: #484C69;
background-color:#484C69;
opacity: 0;
box-shadow: 0 0 0 0;
outline: 0;
border: 0;

}

.customcheck input + label::before {
    content: '';
    width: 30px;
    height: 18px;
    border-radius: 3px;
    background-color: #484C69;
    border: 2px solid white;
    padding-right: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.customcheck input:checked + label::before{
    content: '';
    background-color: rgb(27, 180, 103);
    width: 30px;
    height: 18px;
    border-radius: 3px;
    margin-right:  15px; 
    vertical-align: center;
    border: 2px solid white;
    vertical-align: middle;
    cursor: pointer;
}

/* #checkbox {
    /* size: 40px; */
    /* background-color:#484C69; */
/* } */ 